<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Hackathon.MLBox.Project.Demo.Routes.InitRoutes, Hackathon.MLBox.Project.Demo"  patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" resolve="true" />
            </initialize>
        </pipelines>
        <services>
            <configurator type="Hackathon.MLBox.Project.Demo.IoC.DemoServicesConfigurator, Hackathon.MLBox.Project.Demo" />
        </services>
    </sitecore>
</configuration>